{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>setting</title>#}
{#</head>#}
{#<body>#}
{##}
{#    <form method="get" action="{% url 'setting' %}">#}
{#        {% csrf_token %}#}
{#        <input type="first_name" name="first_name" placeholder="lotfan nam ra vared konid" required>#}
{#        <input type="last_name" name="last_name" placeholder="lotfan family ra vared konid" required>#}
{#        <input type="submit" value="status">#}
{#    </form>#}
{##}
{##}
{##}
{#</body>#}
{#</html>#}